{% extends "base.html" %}
{% load static %}

{% block title %}
topic
{% endblock %}

{% block content %}
<div class="master_wrapper">
  <div class="first_wrapper">
    <div style="text-align: center;">
      <a href="{% url 'branchview' %}" class="ptag_color"><strong>TOPICS</strong></a>
    </div>
    <div class="list_wrapper">
      {% for topic in topics%}
      <div class="item_wrapper">
        <img src="/static/images/svg/{{topic.title}}.svg" />
        <a href="{% url 'branchview' %}?topic={{topic.id}}" class="ptag_color"><p>{{topic.title}}</p></a>
      </div>
      {%endfor%}
    </div>
    <!-- <p class="padding_inline35">See more</p> -->
    <div class="item_wrapper"> 
      <button class="topic_btn button-color" onclick="openModal()">New topic</button>
    </div>
  </div>

  <div class="second_wrapper">
    {% for branch in data%}
    <div class="card_wrapper" id="Branch{{branch.id}}">
      <div class="avatar">
        <div class="avatar_detail">
          <div class="avatar-div">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="avatar"><path d="M24 8c-4.42 0-8 3.58-8 8 0 4.41 3.58 8 8 8s8-3.59 8-8c0-4.42-3.58-8-8-8zm0 20c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"></path><path fill="none" d="M0 0h48v48H0z"></path></svg>
        </div>
          <p>{{branch.username}}/{{branch.topicname}}</p>
          <p class="timestamp">{{branch.created_at}}</p>
        </div>
        <a href="{% url 'branch_detail' id=branch.id%}"><button class="button-color" style="padding-inline: 32px; font-size: 16px; background-color: #24e124;">join</button></a>
      </div>
      <a class="ptag_color" href="{% url 'branch_detail' id=branch.id%}">
      <h3>{{branch.heading}}</h3>
      <img 
      src="{{branch.picture}}"
      width="718px"
      height="314px"
      class="main_image"
      style="margin-bottom: 10px;"/>
      <div class="card_list_wrapper">
        <!-- <li>{{branch.content}}</li>
        <li>Attend</li> -->
        <p>{{branch.content}}</p>
      </div>  
    </a>

    

      <div class="btn_options">
        <div class="vote_options">
          <a href="javascript:void(0)" class="ptag_color" id="vote_branch{{branch.id}}" onclick="Voting(true,'branch','{{branch.id}}')">
            <svg rpl=""
            {% if branch.user_vote == True %} 
            fill="blue"
            {%else%}
            fill="currentColor"
            {%endif%} 
            height="16" icon-name="upvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$7319853$--><!--?lit$7319853$--><path d="M12.877 19H7.123A1.125 1.125 0 0 1 6 17.877V11H2.126a1.114 1.114 0 0 1-1.007-.7 1.249 1.249 0 0 1 .171-1.343L9.166.368a1.128 1.128 0 0 1 1.668.004l7.872 8.581a1.25 1.25 0 0 1 .176 1.348 1.113 1.113 0 0 1-1.005.7H14v6.877A1.125 1.125 0 0 1 12.877 19ZM7.25 17.75h5.5v-8h4.934L10 1.31 2.258 9.75H7.25v8ZM2.227 9.784l-.012.016c.01-.006.014-.01.012-.016Z"></path><!--?--> </svg>
          </a>
          <p style="margin: 0%;" id="vote_count_branch{{branch.id}}">{{branch.count_diff}}</p>
          <a href="javascript:void(0)" class="ptag_color" id="devote_branch{{branch.id}}" onclick="Voting(false,'branch','{{branch.id}}')">
            <svg rpl=""
            {% if branch.user_vote == False %} 
            fill="red"
            {%else%}
            fill="currentColor"
            {%endif%}
            height="16" icon-name="downvote-outline" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"> <!--?lit$7319853$--><!--?lit$7319853$--><path d="M10 20a1.122 1.122 0 0 1-.834-.372l-7.872-8.581A1.251 1.251 0 0 1 1.118 9.7 1.114 1.114 0 0 1 2.123 9H6V2.123A1.125 1.125 0 0 1 7.123 1h5.754A1.125 1.125 0 0 1 14 2.123V9h3.874a1.114 1.114 0 0 1 1.007.7 1.25 1.25 0 0 1-.171 1.345l-7.876 8.589A1.128 1.128 0 0 1 10 20Zm-7.684-9.75L10 18.69l7.741-8.44H12.75v-8h-5.5v8H2.316Zm15.469-.05c-.01 0-.014.007-.012.013l.012-.013Z"></path><!--?--> </svg>            
          </a>
        </div>
        <div class="message_options">
          <img src="{%static 'images/svg/message.svg'%}" width="16px" height="16px" />
          <a href="javascript:void(0)" class="ptag_color"><p style="margin: 0%;">{{branch.leaf_count}}</p></a>
        </div>
        <div class="message_options">
          <img src="{%static 'images/svg/share.svg'%}" width="16px" height="16px" />
          <a href="javascript:void(0)" class="ptag_color" onclick="textcopied('branch/')"><p style="margin: 0%;">Share</p></a>
        </div>
        {% if branch.user == request.user.id %}
        <div class="message_options dropdown_icon" onclick="toggleDropdown('{{branch.id}}')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
          </svg>
          <div class="dropdown_menu" style="display: none" id="threedotdropdown{{branch.id}}">
            <p onclick="deleteBranch('{{branch.id}}')">Delete</p>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
    {%endfor%}
    <div id="replyModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- Fields in the modal -->
        <form method="post" action="{% url 'branchview' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <label for="topicSelect">Please select a topic:</label>
          <select id="topicSelect" name="topic" required>
            <!-- Populate this dropdown with available topics -->
            {% for topic in topics%}
            <option value="{{topic.id}}">{{topic.title}}</option>
            {%endfor%}
            <!-- Add more options as needed -->
          </select>
          <label for="headingInput">Heading:</label>
          <input type="text" id="headingInput" placeholder="Enter heading"  name="heading" required/>
    
          <label for="contentInput">Content:</label>
          <textarea id="contentInput" placeholder="Enter content" name="content" required></textarea>
    
          <label for="fileInput">File Upload (Images only):</label>
          <input type="file" id="fileInput" accept="image/*" name="picture" required/>
          <button class="button-color"  type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>

</div>

{% endblock %}